/*Mark-up of the buttons, forms and the hamburgermenu*/

fieldset{
	display: flex;
	flex-direction: column;
	border: 0px;
}

form{
	width: 80%;
}

input{
	border: 5px solid #ff5f00;
	border-radius: 100px;
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 10px;
}

input:hover{
	border: 10px solid #ff5f00;
}

label{
	margin: 20px 0 10px 0;

}

#content-container{
	display: flex;
	flex-direction: column;
	margin-left: 10%;
}

.checkbox{
	width: 20px;
	height: 20px
}

.button{
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #ff5f00;
	border-radius: 50px;
	text-decoration: none;
	padding: 20px 50px;
	float: right;
	margin-top: 100px;
}

.button:hover{
	color: #ffffff;
	background-color: #ff7f00;
}