/*Mark-up of the buttons, forms and the hamburgermenu*/

fieldset{
	display: flex;
	flex-direction: column;
	border: 0px;
}

form{
	width: 80%;
}

input{
	border: 2px solid #ff5f00;
	border-radius: 50px;
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
}

input:hover{
	border: 5px solid #ff5f00;
}

label{
	margin-top: 20px;
}

#content-container{
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}

.checkbox{
	width: 20px;
	height: 20px
}

.button{
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #ff5f00;
	border-radius: 50px;
	text-decoration: none;
	padding: 10px 30px;
	float: right;
}
