h1{
	margin-bottom: 300px;
}

#field-2{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

#sign-up{	
	margin: 100px 0 50px 0;
	text-align: center;
}