/*Text with Raleway font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 72pt;
	color: #21468B;
	margin-bottom: 300px;
}
.header-no-margin{
	margin-bottom: 0;
}

strong{
	font-family: 'Raleway', sans-serif;
	font-size: 28pt;
	color: #3B3B3B;	
}


/*Text with Lato font*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

a{
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
	color: #21468B;
}
a:hover{
	color: #052560;
}

input, label{
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
	color: #3B3B3B;
}

p{
	font-family: 'Lato', sans-serif;
	font-size: 24pt;
	color: #3B3B3B;
}
